body    {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
}
.container  {
    display: flex;
    justify-content: space-evenly;
    color: rgb(71, 69, 69);
}

/* Main Content Styling */
.main-content  {
    background-color: #FFF6F7;
    width: 65vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo   {
    margin-left: 3rem;
    width: 10rem;
    position: relative;
    top: 7rem;
    font-size: 4rem;
}

.logo a  {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #fd6e00;
    color: black;
}

.content    {
    position: relative;
    top: 200px;
    width: 700px;
    margin-left: 30%;
}

.headline   {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 2em;
}

.top-heading    {
    color: #ce6829;
}

h1  {
    margin-bottom: 10px;
}
.crosshead   {
    color: #ce6829;
}

.email-input    {
    width: 450px;
    height: 70px;
    font-size: 2em;
    border-radius: 50px;
    border: 3px solid #d4b3b7;
    margin-bottom: 0px;
}

.email-input:focus  {
    outline: none;
}

/* Button Styling */
.submit-email-btn   {
    position: absolute;
    width: 123px;
    height: 78px;
    border-radius: 50px;
    right: 191px;
    border-color: rgb(212,178,199);
    background: rgb(212,178,199);
    background: linear-gradient(324deg, rgba(212,178,199,1) 28%, rgba(212,191,178,1) 58%);  
    box-shadow: 2px 6px 17px rgb(212 178 199) ;
    cursor: pointer;
    color: #fff;
    font-size: 30px;
}

.submit-email-btn:focus {
    outline: none;
}

/* Image Styling */
.model-image    {
    display: flex;
    width: 35vw;
    height: 100vh;
}

img    {
    height: 100%;
    width: 100%;
}    

/* Media Query Styling for mobile devices and different screen resolutions */

/* Large Laptop */
@media  (max-width: 1440px) {
    .content   {
        margin-left: 15%;
    }

    .main-content   {
        width: 60vw;
    }

    .crosshead  {
        font-size: 2rem;
    }

    .model-image    {
        width: 40vw;
    }

    .email-input    {
        font-family: 'Montserrat Alternates', sans-serif;
    }

    .submit-email-btn   {
        box-shadow: 2px 6px 17px rgb(212 178 199) ;
    }
}



/* Tablet */
@media (max-width: 768px)   {
    .container   {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100%;
    }
    .model-image    {
        order: 1;
        display: flex;
        width: 100vw;
        height: 40%;
    }

    .main-content   {
        order: 2;
        display: flex;
        width: 100vw;
        padding-bottom: 50px;
    }

    .logo   {
        margin-left: 20px;
    }
    
    .content    {
        width: 94vw;
        margin-left: 20px;
    }

    .crosshead  {
        font-size: 2rem;
    }
    .email-input    {
        width: 400px;
        height: 50px;
        font-size: 20px;
        font-family: 'Montserrat Alternates', sans-serif;
    }

    .submit-email-btn   {
        right: 279px;
        height: 58px;
        width: 90px;
        box-shadow: 2px 6px 17px rgb(212 178 199) ;
    }

}
